{% extends "base.html" %}
{% block content %}
<div class="container mt-3 mb-5">
    <div class="nav nav-pills nav-fill" role="tablist">
        <a class="nav-item nav-link active" data-toggle="pill" href="#people" role="tab"><h5>People</h5></a>
        <a class="nav-item nav-link" data-toggle="pill" href="#city" role="tab"><h5>Cities</h5></a>
        <a class="nav-item nav-link" data-toggle="pill" href="#landscapes" role="tab"><h5>Landscapes</h5></a>
    </div>
</div>

<div id="gallerycontainer" class="container">
    <div class="tab-content scrollable" id="myTabContent">
        {% for q, value in photos.items %}
        {% if q == 'people'%}
        <div class="tab-pane fade show active" id={{ q }} role="tabpanel">
            {% else %}
            <div class="tab-pane fade " id={{ q }} role="tabpanel">
                {% endif %}
                <div class="masonry" id="gallery" data-toggle="modal" data-target="#photoModal-{{ q }}">
                    {% for photo in value %}
                    {% if photo.orientation == 'p' %}
                    <div class="masonry-brick masonry-brick-v">
                        {% else %}
                        <div class="masonry-brick masonry-brick-h">
                            {% endif %}
                            <img class="masonry-img" alt="Responsive image"
                                 src="{{ photo.url_small }}" loading="lazy"/>
                            <div class="img-overlay d-flex align-items-center" data-target="#photoCarousel-{{ q }}"
                                 data-slide-to={{ forloop.counter0 }}>
                                <h5 class="img-title mx-auto">Click to enlarge</h5>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% for q, value in photos.items %}
    <div class="modal fade" id=photoModal-{{ q }} tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content h-myh my-auto">
                <div class="modal-body h-100">
                    <div id="photoCarousel-{{ q }}" class="carousel h-100 slide carousel-fade">
                        <div class="carousel-inner h-100">
                            {% for photo in value %}
                            {% if forloop.counter == 1 %}
                            <div class="carousel-item h-100 active">
                                {% else %}
                                <div class="carousel-item h-100">
                                    {% endif %}
                                    <div class="d-flex h-90 align-items-center justify-content-center">
                                        <div class="spinner-border" role="status" id="spinner">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        {% if photo.orientation == 'p' %}
                                            {% if forloop.counter == 1 %}
                                                <img class="h-100 loading" alt="Responsive image"
                                                     src="{{ photo.url }}" loading="lazy"/>
                                            {% else %}
                                                <img class="h-100 loading" alt="Responsive image"
                                                     data-src="{{ photo.url }}" loading="lazy"/>
                                            {% endif %}
                                        {% else %}
                                            {% if forloop.counter == 1 %}
                                                <img class="modal-photo-h loading" alt="Responsive image"
                                                     src="{{ photo.url }}" loading="lazy"/>
                                            {% else %}
                                                <img class="modal-photo-h loading" alt="Responsive image"
                                                 data-src="{{ photo.url }}" loading="lazy"/>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="carousel-caption d-none d-md-block">
                                        <div class="row justify-content-center my-hidden">
                                            <h5>{{ photo.description }}</h5>
                                        </div>
                                        <div class="row justify-content-center">
                                            <button type="button" class="close utils btn-lg" data-dismiss="modal"
                                                    aria-label="Close" data-toggle="tooltip" data-placement="top" title="Close">
                                                <span aria-hidden="true">X</span>
                                            </button>
                                            <span class="close align-bottom my-hidden">0</span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#photoCarousel-{{ q }}" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#photoCarousel-{{ q }}" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
